*.swp
*.pyc
*.swo
*.python-version
*.coverage

*.egg-info/

downloadcounter
pip-selfcheck.json

.Python

.cache/
.idea/
.tox/

build/
dist/
bin/
lib/
include/
documents/
share/

coverage.xml
db.sqlite3
